@media only screen and (min-width: 1024px) {
    img {
        
    } 
    .grid-container {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 1fr 1fr 1fr;
    }
    
    
  }