/* CIT 230 - Assignment Portal CSS Template */
/* You may use #HEX or color names */

/* * is a wildcard referring to all elements. */
* { margin: 0; box-sizing: border-box; } 

body { 
    font-size: 16px; 
    line-height: 32px;
    font-family: monospace;
    color: black;
}

h1 {
    font-size: 50px;
    color: black;
}

h2 {
    font-size: 1.25rem;
    text-align: center;
    border-bottom: 1px solid #bbb;
}

header, main, footer {
    margin: 1.25rem auto;
    padding: .5rem;
    max-width: auto;
}

header, footer, footer a {
    text-align: center;
    background-color: cornflowerblue;
    color: whitesmoke;
}

header img {
    width: 300px;
    height: 400px;
    float: right;
    z-index: 10px;
}


footer {
    font-size: smaller;
    background-color: cornflowerblue;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    overflow: hidden;
}