@media only screen and (min-width: 600px) {

    /* Only CSS write declarations that need to be changed. Do not duplicated declarations that are already established in the main.css */
    nav button {
        display: none;
    }
    /* hamburger button does not need to be shown in the medium on up views */
    section.forecast {

        display: block;
    }

    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
    }

    li {
        float: left;
    }

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    li a:hover {
        background-color: #111;
    }

    header img {
        width: 50%;
    }
    
    body img {
        height: 300px;
    }
    
    .current img{
        height: 150px;
    }

}
